<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Country Statistics</title>

</head>
<body>
    <header class="header">
        <a href="/"><button href="/" class="button__">Countries</button></a>
        <img src="svg/stats.svg" alt="Caligraphy style logo">
        <a href="/countries"><button class="button__">Charts</button></a>
    </header>
    
    
    
    
    
    
    <% if (locals.countriesMain) { %>

                <!-- Chart route page -->

        <h2><%= countriesMain %></h2>
        <form action="/countries/charts" class="form" method="post">
        <select name="fields" id="" class="endPoint__dropdown">
            <option name ="" class="dropdown__choice"></option>
            <option name ="lang" class="dropdown__choice">Languages</option>
            <option name ="population" class="dropdown__choice">Population</option>
            <option name ="currencies" class="dropdown__choice">Currencies</option>
            <option name ="region" class="dropdown__choice">Region</option>
        </select>
        <button type="submit" class="form__submit">Go</button>
    </form>
    
    
    
    
    
    <% } else if (locals.chartsData && locals.chartsPercentage && locals.chartsNames) { %>


        <!-- // Chart template -->

        <canvas id="chart"></canvas>
        <script>
            const ctx = document.getElementById('chart').getContext('2d');
            const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: <%- JSON.stringify(chartsNames) %>,
            datasets: [{
            label: <%- JSON.stringify(locals.chartsText['legend']) %>,
            data: <%- JSON.stringify(chartsData) %>,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            elements: {
                bar: {
                    borderWidth: 2,
                },
            responsive: true,
            },
            plugins: {
      legend: {
        position: 'right',
      },
      title: {
        display: true,
        text: <%- JSON.stringify(locals.chartsText['headline']) %>
      }
    },
            scales: {
            y: {
                beginAtZero: true
            }
            }
        }
        });
        </script>
        
        
        
        
        <%} else if (locals.countryData) { %>
    
            <!-- // Chosen country template -->
        
        <section id="cards" class="template__cards">
            
            <% countryData.forEach((element) => { %>
                
                <div class="countryData__displayBox">
                    <img src="<%= element['flags'].svg %>" alt="<%= element['flags'].alt %>" class="countryData__flags">
                    <img src="<%= element['coatOfArms'].svg %>" alt="" class="countryData__coatOfArms">
                    <h5 class="countryData__flagInitials"><%= element['flag'] %></h5>
                    <h5 class="countryData__timeZone">Timezone: <%= element['timezones'] %></h5>
                    <div class="countryData__currency">Currency:
                        
                        <% const currencyArr = Object.entries(element['currencies']) %>
                        <% currencyArr.forEach((currencyElement) => { %>
                            <div><%= currencyElement[0] %></div>
                            <div><%= currencyElement[1].name %></div>
                            <div><%= currencyElement[1].symbol %></div>
                        <% }) %>
                        </div>
                    
                    <div class="countryData__languages">Languages:
                        <% const langArr = Object.values(element['languages']) %>
                        <% langArr.forEach((langElement) => { %>
                            <div><%= langElement %></div>
                            <% }) %>
                    </div>
                </div>

            <div class="countryData__displayInfo">
                
                <h2 class="countryData__name"><%= element['name'].common %></h2>
                
                <h3 class="countryData__official"><%= element['name'].official %></h3>
                
                <h4 class="countryData__capital">Capital: <%= element['capital'] %></h4>
                
                <p class="countryData__paragraph">
                <%= element['name'].common %> is in <%= element['subregion'] %>, <%= element['region'] %>.
                It's population consists of <%= element['population'] %> people. It is <%= element['area'] %>km2 large.
                Car license plates are indicated with <%= element['car'].signs %> and usually people drive on the <%= element['car'].side %> side of the road.
                <br>
                    <% if (element['independent']) { %>
                        <%= element['name'].common %> is independent.
                    <% } else { %>
                        <%= element['name'].common %> is occupied.
                    <% } %>
                </p>
            </div>
            <% }) %>
        </section>

        

        <% } else if (locals.data) { %>
          
          <!-- Main page -->
          
            <section id="cards" class="countriesDisplayMain__section">
            <div class="countriesDisplayMain__grid">
                <% const countryNameArray = [] %>
            <% locals.data.forEach((element) => { %>
                <% countryNameArray.push(element['name'].common) %>
           <%  }) %>
           <% countryNameArray.sort() %>
           <% countryNameArray.forEach((element) => { %>
            <a href="/country?name=<%= element %>" class="countryName">
                <div><%= element %></div>
            </a>
           <% }) %>
            <% } %>
        </div>
        </section>
</body>
</html>